<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./modules</directory>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">./config</directory>
            <file>./database/schema.sql</file>
        </exclude>
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_DATABASE" value="awe_academy_test"/>
        <ini name="display_errors" value="true"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="512M"/>
        <ini name="max_execution_time" value="600"/>
    </php>
    <logging>
        <junit outputFile="coverage/junit.xml"/>
        <testdoxHtml outputFile="coverage/testdox.html"/>
        <testdoxText outputFile="coverage/testdox.txt"/>
    </logging>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <directory suffix=".php">modules/</directory>
            <directory suffix=".php">includes/</directory>
            <exclude>
                <directory>vendor/</directory>
                <directory>tests/</directory>
                <directory>config/</directory>
            </exclude>
        </whitelist>
    </filter>
    <listeners>
        <listener class="PHPUnit\Util\Printer" file="vendor/phpunit/phpunit/src/Util/Printer.php"/>
    </listeners>
</phpunit>
